@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --footer-section-bg: hsl(243, 87%, 12%);
    --access-section-bg : hsl(238, 22%, 44%);
    --btn-bg : hsl(224, 93%, 58%);
    --fylo-exp-color : hsl(170, 45%, 43%);
    --section2-background-color : #f6f6fe;
    --paragraph-color: hsl(0, 0%, 75%);
    --heading-font : 'Raleway', sans-serif;
    --body-font : 'Open Sans', sans-serif;
}

/* font-family: 'Raleway', sans-serif; 
Headings, Call-to-actions, Header Navigation */

/* font-family: 'Open Sans', sans-serif;
Body */

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style-type:none;
}

body{
    font-size:18px;
}

header{
    font-family: var(--heading-font);
}

.logo{
    width:90px;
    height:auto;
}

.logo img{
    width: 100%;
    height:auto;
}

.nav-menu{
    display:flex;
    align-items: center;
    gap:1rem;
    justify-content: space-between;
    padding:1.5rem;
}

.nav-links ul{
    display:flex;
    align-items: center;
    justify-content:center;
    gap:1rem;
    margin-top:-0.6rem;
}

ul li a{
    font-size:0.9rem;
    color:hsl(243, 87%, 12%);
}

.homepage{
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding:1.5rem;
}

.homepage .text-section h1{
    font-family: var(--heading-font);
    font-size:1.7rem;
    color: var(--footer-section-bg);
    text-align:center;
    width:90%;
    margin-inline:auto;
    line-height:2.35rem;
}

.homepage .text-section p{
    font-size:1rem;
    font-family: var(--body-font);
    color:var(--footer-section-bg);
    text-align:center;
    width:90%;
    margin-inline:auto;
    margin-block:1.2rem;
}

.img-section{
    min-width:280px;
}

.img-section img{
    margin-top:2rem;
    margin-bottom:2rem;
    display:block;
    width:100%;
    height:auto;
}

.min-screen-form form input{
    display:block;
    min-width:90%;
    margin-inline:auto;
    font-family:var(--heading-font);
    padding-inline:0.65rem;
    padding-block:0.85rem;
    border-radius:0.2rem;
    border:1px solid var(--access-section-bg);
    box-shadow:1px 1.2px 1px rgba(0, 0, 0, 0.23);
}

.min-screen-form ::placeholder {
    color: gray;
    opacity: 0.4;
    padding-inline:0.2rem;
  }

.min-screen-btn{
    display:block;
    min-width:90%;
    margin-inline:auto;
    margin-top:1rem;
    margin-bottom:4rem;
    padding-inline:0.65rem;
    padding-block:0.85rem;
    border-radius:0.4rem;
    border:none;
    background-color:var(--btn-bg);
    color:white;
    font-family: var(--heading-font);
    font-weight:bold;
    box-shadow: 0rem 0.17rem 0.5rem 0.1rem rgba(0, 0, 0, 0.295);
}

/* CURVED SECTION */

.curved-img{
    width:100%;
    height:auto;
}

.curved-img img{
    display:block;
    width:100%;
    height:block;
}

.img-curved-section{
    min-width:200px;
    margin-inline:auto;
}

.img-curved-section img{
    width:100%;
    height:auto;
}

.curved-section-content{
    padding-inline:1.5rem;
    padding-bottom:5rem;
    background-color:var(--section2-background-color);
}

.section-2-summary h1{
    font-family: var(--heading-font);
    font-size:1.4rem;
    text-align:center;
    font-weight:bold;
    color:var(--footer-section-bg);
    margin-top:4rem;
    margin-bottom:1.9rem;
}

.section-2-summary  p{
    font-family: var(--body-font);
    color: var(--paragraph-color);
    letter-spacing:0.02rem;
    line-height: 1.5rem;
    max-width:100%;
    margin-inline:0.6rem;
}

.fylo-testimonial-heading{
    margin-bottom:2rem;
    margin-top:3rem;
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom:2px solid var(--fylo-exp-color);
    max-width:70%;
    margin-inline:auto;
    padding-bottom:-2rem;
}

.fylo-testimonial-heading img{
    display:block;
    width:27px;
    margin-top:-0.4rem;
    border-radius:5rem;
    box-shadow:0rem 0rem 0.9rem -0.2rem var(--fylo-exp-color);
} 

.fylo-example-txt{
    font-family: var(--body-font);
    text-align:center;
    font-size:1.15rem;
    color:var(--fylo-exp-color);
    padding-bottom:0.4rem;
    width:100%;
}

.testimonial{
    box-shadow:0rem 0rem 0.7rem 0.4rem rgba(0, 0, 0, 0.047);
    border-radius:1rem;
    font-family: var(--body-font);
    font-size:1.5rem;
    padding-block:1.1rem;
    padding-inline:2rem;
    max-width:400px;
    margin-inline:auto;
    margin-block:3rem;
    padding-bottom:1rem;
}

.testimonial img{
    display:block;
    padding-bottom:0.5rem;
}

.testimonial .quote-img{
    width:23px;
}

span.testimonial-txt{
    font-family: var(--body-font);
    color:var(--footer-section-bg);
    font-size:1.2rem;
}

.testimonial-image {
    width:50px;
    height:auto;
    margin-top:1rem;
}

.testimonial-image  img{
    display:block;
    width:100%;
    height:auto;
    border-radius:50%;
}

.testimonial-footer{
    font-size:1rem;
    display:flex;
    align-items:center;
    gap:1rem;
    margin-top:0.4rem;
}

p.name{
    font-size:1.2rem;
    font-size: var(--body-font);
    font-weight:bolder;
    text-transform:capitalize;
    color: var(--footer-section-bg);
}

p.stat{
    font-size:0.85rem;
    font-size: var(--body-font);
    text-transform:capitalize;
    color: var(--footer-section-bg);
}

/* SECTION THREE */
.access-section{
    background-color:var(--access-section-bg);
    color:white;
    padding-inline:1.5rem;
    padding-block:3rem;
}

.text-access-section h1{
    font-family: var(--heading-font);
    font-size:1.4rem;
    text-align:center;
    padding-bottom:1rem;
}

.text-access-section p{
    font-family: var(--body-font);
    text-align:center;
    font-weight:lighter;
    padding-bottom:1rem;
    width:90%;
    margin-inline:auto;
    margin-bottom:1rem;
    line-height:1.7rem;
}

.access-form form input{
    display:block;
    min-width:90%;
    margin-inline:auto;
    font-family:var(--heading-font);
    padding-inline:0.65rem;
    padding-block:0.85rem;
    border-radius:0.2rem;
    border:1px solid var(--access-section-bg);
    box-shadow:1px 1.2px 1px rgba(0, 0, 0, 0.23);
}

.access-form ::placeholder {
    color: gray;
    opacity: 0.4;
    padding-inline:0.2rem;
  }

  .access-btn{
    display:block;
    min-width:90%;
    margin-inline:auto;
    margin-top:1rem;
    padding-inline:0.65rem;
    padding-block:0.85rem;
    border:none;
    border-radius:0.4rem;
    background-color:var(--btn-bg);
    color:white;
    font-family: var(--heading-font);
    font-weight:bold;
 }

 /* SECTION FOUR */
 .fylo-footer{
    background-color:var(--footer-section-bg);
    padding:1.5rem;
    color:white;
    font-family:var(--body-font);
    font-weight:lighter;
 }

 .fylo-footer-img{
    margin-top:1.35rem;
    margin-bottom:1.45rem;
 }

 .contact{
    line-height:2.2rem;
 }

 .phone img, .email img{
    margin-right:0.7rem;
 }

 .about-section{
    margin-block:2rem;
    line-height:2.2rem;
 }

 .contact-us-section{
    line-height:2.2rem;
    margin-block:2.2rem;
 }

 .social-links ul{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1rem;
}

.social-links ul li img{
    width:18px;
}

.social-links ul li{
    padding-inline:0.8rem;
    padding-block:0.69rem;
    border-radius:5rem;
    border:1px solid white;
}

/* FOOTER */
footer{
    margin-top:1.3rem;
}

footer p, footer p a{
    color:var(--fylo-exp-color);
    text-align:center;
    font-size:0.8rem;
}

footer p a{
    color: var(--access-section-bg
    );
}

@media screen and (min-width:500px) {
    .logo{
        width:110px;
    }

    .logo img{
        width:100%;
    }

    .nav-links a{
        font-size:1.2rem;
    }

    .img-section{
        width:430px;
    }

    .img-section img{
        width:100%;
    }

    .homepage .text-section h1{
        font-size:1.77rem;
    }

    .homepage .text-section p{
        font-size:1.2rem;
        margin-bottom:2.7rem;
    }

    .min-screen-form form{
        margin-block:1.4rem;
    }

    .min-screen-form form input{
        padding:1.1rem;
    }

    button.get-started{
        padding:1.1rem;
        font-size:1rem;
    }

    /* SECTION 2 */
    .img-curved-section{
        width:430px;
    }

    .img-curved-section img{
        width:100%;
        height:auto;
    }

    .section-2-summary h1{
        font-size:1.5rem;
    }

    .fylo-testimonial-heading{
        width:48%;
    }

    .testimonial{
        padding-block:1.8rem;
    }

    .testimonial-footer{
        margin-top:0.8rem;
    }

    .testimonial-stats .name{
       margin-bottom:0.4rem;
    }

    /* SECTION THREE */
    .text-access-section h1{
        font-size:1.5rem;
    }

    .access-form form{
        margin-block:1.3rem;
    }

    .access-form form input{
        padding:1.1rem;
        border-radius:0.3rem;
    }

    .access-btn{
        padding:1rem;
    }
}

@media screen and (min-width:768px){
    .logo{
        min-width:160px;
    }

    .nav-links a{
        font-size:1.37rem;
    }

    .img-section{
        width:690px;
    }

    .img-section img{
        width:100%;
    }

    .homepage .text-section h1{
        font-size:2.3rem;
        line-height:2.8rem;
    }

    .homepage .text-section p{
        font-size:1.6rem;
        line-height:2.3rem;
        margin-bottom:2.5rem;
    }

    .min-screen-form form{
        margin-block:1.4rem;
    }

    .min-screen-form form input{
        padding:1.35rem;
    }

    button.get-started{
        padding:1.3rem;
        font-size:1.25rem;
    }

    /* SECTION 2 */
    .img-curved-section{
        overflow:hidden;
        width:670px;
    }

    .img-curved-section img{
        width:100%;
        height:auto;
    }

    .section-2-summary h1{
        font-size:2.3rem;
    }

    .section-2-summary p{
        line-height:2.25rem;
        font-size:1.7rem;
    }

    .fylo-testimonial-heading{
        width:35%;
    }

    .fylo-testimonial-heading img{
        margin-left:-0.3rem;
        width:35px;
    }

    .fylo-example-txt{
        font-size:1.3rem;
    }

    .testimonial{
        padding-block:1.8rem;
        min-width:700px;
    }

    .testimonial-footer{
        margin-top:0.8rem;
    }

    .testimonial-stats .name{
       margin-bottom:0.4rem;
    }

    /* SECTION THREE */
    .text-access-section h1{
        font-size:1.5rem;
    }

    .access-form form{
        margin-block:1.3rem;
    }

    .access-form form input{
        padding:1.1rem;
        border-radius:0.3rem;
    }

    .access-btn{
        padding:1rem;
    }
}

@media screen and (min-width:1024px){
    header{
        margin-top:1.5rem;
    }

    .logo{
        margin-left:2rem;
    }

    .nav-links{
        padding-inline:1rem;
    }
    
    .nav-links a{
        margin-inline:0.95rem;
        font-size:1.5rem;
    }

    .homepage{
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:row;
    }

    .homepage .text-section h1{
        font-size:2.2rem;
        text-align:left;
        width:80%;
        margin-left:2rem;
    }

    .homepage .text-section p{
        font-size:1.35rem;
        text-align:left;
        min-width:83%;
        margin-left:2rem;
        line-height:1.8rem;
        margin-top:0.5rem;
    }

    .min-screen-form{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        margin-top:-1.8rem;
    }

    .min-screen-form form{
        margin-top:-1rem;
        width:60%;
        margin-left: 1.25rem;
    }

    .min-screen-btn{
        display:block;
        min-width:35%;
        box-shadow:none;
        margin-top:1.5rem;
    }

    button.get-started {
        padding-block: 1.15rem;
        margin-left:-0.35rem;
    }

    .img-section{
        min-width:650px;
    }

    .img-section img{
        display:block;
        width:100%;
        height:auto;
    }


    /* SECTION TWO (CURVED SECTION) */
      .curved-section{
        margin-top:3.5rem;
    }

    .curved-section-content{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .section-2-summary h1{
        text-align:left;
        font-size:2.4rem;
        width:85%;
        margin-left:2rem;
    }

    .section-2-summary p{
        font-size:1.35rem;
        width:75%;
        margin-left:2rem;
        
    }

    .break{
        display:block;
        margin-top:-1.2rem;
    }

    /* .img-curved-section{
        min-width:650px;
    }

    .img-curved-section img{
        display:block;
        width:100%;
        height:auto;
    } */




}