@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --footer-section-bg: hsl(243, 87%, 12%);
    --access-section-bg : hsl(238, 22%, 44%);
    --btn-bg : hsl(224, 93%, 58%);
    --fylo-exp-color : hsl(170, 45%, 43%);
    --section2-background-color : #f6f6fe;
    --paragraph-color: hsl(0, 0%, 75%);
}

/* font-family: 'Raleway', sans-serif; 
Headings, Call-to-actions, Header Navigation */

/* font-family: 'Open Sans', sans-serif;
Body */

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style-type:none;
}

body{
    font-size:18px;
}

header{
    font-family: 'Raleway', sans-serif;
}

.logo{
    width:90px;
    height:auto;
}

.logo img{
    width: 100%;
    height:auto;
}

.nav-menu{
    display:flex;
    align-items: center;
    gap:1rem;
    justify-content: space-between;
    padding:1.5rem;
}

.nav-links ul{
    display:flex;
    align-items: center;
    justify-content:center;
    gap:1rem;
    margin-top:-0.6rem;
}

ul li a{
    font-size:0.9rem;
    color:hsl(243, 87%, 12%);
}

.homepage{
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding:1.5rem;
}

.homepage .text-section h1{
    font-family: 'Raleway', sans-serif;
    font-size:1.7rem;
    color: var(--footer-section-bg);
    text-align:center;
    width:90%;
    margin-inline:auto;
    line-height:2.35rem;
}

.homepage .text-section p{
    font-size:1rem;
    font-family: 'Open Sans', sans-serif; 
    color:var(--footer-section-bg);
    text-align:center;
    width:90%;
    margin-inline:auto;
    margin-block:1.2rem;
}

.img-section{
    min-width:280px;
}

.img-section img{
    margin-top:2rem;
    margin-bottom:2rem;
    display:block;
    width:100%;
    height:auto;
}

.min-screen-form form input{
    display:block;
    min-width:90%;
    margin-inline:auto;
    font-family:'Raleway', sans-serif;
    padding-inline:0.5rem;
    padding-block:0.6rem;
    border-radius:0.2rem;
    border:1px solid var(--access-section-bg);
    box-shadow:1px 1.2px 1px rgba(0, 0, 0, 0.23);
}

.min-screen-form ::placeholder {
    color: gray;
    opacity: 0.4;
    padding-inline:0.2rem;
  }

.min-screen-btn{
    display:block;
    min-width:90%;
    margin-inline:auto;
    margin-top:1rem;
    margin-bottom:4rem;
    padding-inline:0.65rem;
    padding-block:0.85rem;
    border-radius:0.4rem;
    border:none;
    background-color:var(--btn-bg);
    color:white;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    box-shadow: 0rem 0.17rem 0.5rem 0.1rem rgba(0, 0, 0, 0.295);
}

/* CURVED SECTION */

.curved-img{
    width:100%;
    height:auto;
}

.curved-img img{
    display:block;
    width:100%;
    height:block;
}

.img-curved-section{
    min-width:200px;
    margin-inline:auto;
}

.img-curved-section img{
    width:100%;
    height:auto;
}

.curved-section-content{
    padding-inline:1.5rem;
    padding-bottom:5rem;
    background-color:var(--section2-background-color);
}

.section-2-summary h1{
    font-family: 'Raleway', sans-serif;
    font-size:1.4rem;
    text-align:center;
    font-weight:bold;
    color:var(--footer-section-bg);
    margin-top:4rem;
    margin-bottom:1.7rem;
}

.section-2-summary  p{
    font-family: 'Open Sans', sans-serif;
    color: var(--paragraph-color);
    letter-spacing:0.02rem;
    line-height: 1.5rem;
}

.fylo-testimonial-heading{
    margin-bottom:2rem;
    margin-top:3rem;
    display:flex;
    align-items: center;
    justify-content: center;
    /* gap:0.01rem; */
    border-bottom:2px solid var(--fylo-exp-color);
    max-width:58%;
    margin-inline:auto;
    padding-bottom:-2rem;
}

.fylo-testimonial-heading img{
    display:block;
    width:27px;
    margin-top:-0.4rem;
    border-radius:5rem;
    box-shadow:0rem 0rem 0.9rem -0.2rem var(--fylo-exp-color);
} 

.fylo-example-txt{
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    font-size:1.15rem;
    color:var(--fylo-exp-color);
    padding-bottom:0.4rem;
    width:100%;
}

.testimonial{
    box-shadow:0rem 0rem 0.7rem 0.4rem rgba(0, 0, 0, 0.047);
    border-radius:1rem;
    font-family: 'Open Sans', sans-serif;
    font-size:1.5rem;
    padding-block:1.1rem;
    padding-inline:2rem;
    max-width:400px;
    margin-inline:auto;
    margin-block:3rem;
    padding-bottom:1rem;
}

.testimonial img{
    display:block;
    padding-bottom:0.5rem;
}

.testimonial .quote-img{
    width:23px;
}

span.testimonial-txt{
    font-family: 'Open Sans', sans-serif; 
    color:var(--footer-section-bg);
    font-size:1.2rem;
}

.testimonial-image {
    width:50px;
    height:auto;
    margin-top:1rem;
}

.testimonial-image  img{
    display:block;
    width:100%;
    height:auto;
    border-radius:50%;
}

.testimonial-footer{
    font-size:1rem;
    display:flex;
    align-items:center;
    gap:1rem;
    margin-top:0.4rem;
}

p.name{
    font-size:1.2rem;
    font-size: 'Open sans', sans-serif;  
    font-weight:bolder;
    text-transform:capitalize;
    color: var(--footer-section-bg);
}

p.stat{
    font-size:0.85rem;
    font-size: 'Open sans', sans-serif;  
    text-transform:capitalize;
    color: var(--footer-section-bg);
}

/* SECTION THREE */
