@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --footer-section-bg: hsl(243, 87%, 12%);
    --access-section-bg : hsl(238, 22%, 44%);
    --btn-bg : hsl(224, 93%, 58%);
    --fylo-exp-color : hsl(170, 45%, 43%);
    --section2-background-color : #f6f6fe;
    --paragraph-color: hsl(0, 0%, 75%);
}

/* font-family: 'Raleway', sans-serif; 
Headings, Call-to-actions, Header Navigation */

/* font-family: 'Open Sans', sans-serif;
Body */

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style-type:none;
}

body{
    font-size:18px;
}

header{
    font-family: 'Raleway', sans-serif;
}

.logo{
    width:90px;
    height:auto;
}

.logo img{
    width: 100%;
    height:auto;
}

.nav-menu{
    display:flex;
    align-items: center;
    gap:1rem;
    justify-content: space-between;
    padding:1.5rem;
}

.nav-links ul{
    display:flex;
    align-items: center;
    justify-content:center;
    gap:1rem;
    margin-top:-0.6rem;
}

ul li a{
    font-size:0.9rem;
    color:hsl(243, 87%, 12%);
}

.homepage{
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding:1.5rem;
}

.homepage .text-section h1{
    font-family: 'Raleway', sans-serif;
    font-size:1.7rem;
    color: var(--footer-section-bg);
    text-align:center;
    width:100%;
    margin-inline:auto;
    line-height:2.35rem;
}

.homepage .text-section p{
    font-size:1rem;
    font-family: 'Open Sans', sans-serif; 
    color:var(--footer-section-bg);
    text-align:center;
    width:100%;
    margin-inline:auto;
    margin-block:1.2rem;
}

.img-section{
    min-width:280px;
}

.img-section img{
    margin-top:3.9rem;
    margin-bottom:2rem;
    display:block;
    width:100%;
    height:auto;
}

.min-screen-form form input{
    font-family:'Raleway', sans-serif;
    width:100%;
    padding-inline:0.5rem;
    padding-block:0.6rem;
    border-radius:0.2rem;
    border:1px solid var(--access-section-bg);
    box-shadow:1px 1.2px 1px rgba(0, 0, 0, 0.23);
}

.min-screen-form ::placeholder {
    color: gray;
    opacity: 0.4;
    padding-inline:0.2rem;
  }

.min-screen-btn{
    width:100%;
    margin-top:1rem;
    padding-inline:0.5rem;
    padding-block:0.75rem;
    border-radius:0.2rem;
    border:none;
    background-color:var(--btn-bg);
    color:white;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    box-shadow:1.1px 2px 1.1px 2px rgba(99, 98, 98, 0.154);
}

.curved-section{
    min-width:300px;
    height:auto;
    background-image:url(/images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-size:100%;
    background-position:top center;
    padding:1rem;
}

.img-curved-section{
    min-width:300px;
    height:auto;
}

.img-curved-section img{
    display:block;
    width:100%;
    height:auto;
    margin-top:-1rem;
}

.curved-section-content{
    background-color:var(--section2-background-color);
    padding:1.5rem;
}
